/* styling global */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-item-center {
  align-items: center;
}

/* end global styling */

.navbar {
  padding: 10px 50px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
}

.navbar-brand img {
  width: 140px;
}

.navbar-link {
  width: 370px;
  column-gap: 20px;
  -moz-column-gap: 20px;
}

.navbar-link a {
  padding: 0.6em 16px;
  border-radius: 5px;
}

.navbar-link a:hover {
  background-color: #f6fafe;
}

.navbar-link a.active {
  color: #fff;
  background-color: #0073e9;
  transition: background-color 0.2s;
}

.navbar-link a.active:hover {
  color: #fff;
  background-color: #3595f5;
}

.tombol-utility {
  column-gap: 22px;
  -moz-column-gap: 22px;
}

.tombol-utility a.btn-login:hover {
  border-bottom: 1px solid #3595f5;
}

.tombol-utility a.btn-sign-up {
  border: 1px solid #3595f5;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: all 0.3s;
}

.tombol-utility a.btn-sign-up:hover {
  background-color: #f4faff;
}

.tombol-utility a.btn-post-job {
  background-color: #0073e9;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s;
}

.tombol-utility a.btn-post-job:hover {
  background-color: #1b74ce;
}

.menu-mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navbar {
    padding: 10px 20px;
  }

  .menu-mobile {
    background-color: #eeeeeea6;
    border-radius: 40px;
    display: block;
    transition: background-color 0.3s;
    font-size: 20px;
    padding: 0.4em 0.7em;
  }

  .navbar-link {
    display: none !important;
  }

  .tombol-utility .btn-login {
    display: none;
  }

  .tombol-utility .btn-sign-up {
    display: none;
  }

  .tombol-utility {
    column-gap: 15px;
    -moz-column-gap: 15px;
  }
}

@media screen and (max-width: 400px) {
  .tombol-utility .btn-post-job {
    display: none;
  }
}
