::-webkit-scrollbar {
  background-color: #fff;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(190, 190, 190);
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
}

/*navbar styling*/

.navbar {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(59, 59, 59, 0.13);
  display: flex;
  padding: 8px 50px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar .navbar-brand-container .navbar-brand a img.logo {
  width: 150px;
}

.navbar .navbar-brand-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
  -moz-column-gap: 20px;
}

.navbar .navbar-link a {
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.menu-mobile-button {
  display: none;
}

.nav-menu-kanan {
  display: flex;
}

.navbar .navbar-link a:hover {
  background-color: aliceblue;
}

.nav-menu-kanan {
  display: flex;
  align-items: center;
}

.nav-menu-kanan .search-bar form {
  column-gap: 10px;
  -moz-column-gap: 10px;
}

.nav-menu-kanan .search-bar form input {
  padding: 10px 7px;
  width: 300px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 3px;
}

.nav-menu-kanan .search-bar form button {
  background-color: aliceblue;
  border-radius: 50px;
  border: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  cursor: pointer;
}

.nav-menu-kanan .search-bar form button:hover {
  background-color: rgb(213, 235, 255);
}

.tombol-container {
  display: none;
  column-gap: 13px;
  -moz-column-gap: 13px;
  margin-left: 20px;
  align-items: center;
}

.tombol-container .login:hover {
  border-bottom: 1px solid rgb(66, 66, 66);
}

.tombol-container .register {
  padding: 0.5em 1em;
  border: 1px solid #fff;
  background-color: rgb(0, 91, 228);
  border-radius: 4px;
  color: #fff;
}

.dashboard-user {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

img.user-profil {
  width: 40px;
  border-radius: 50px;
  border: 2px solid rgb(34, 235, 208);
  cursor: pointer;
}

.dashboard {
  background-color: rgb(245, 245, 245);
  padding: 0.5em 1em;
  margin: 0px 8px;
  border-radius: 5px;
  transition: 0.2s;
}

.user-profil:hover ~ .user-menu {
  display: flex;
}

.user-menu:hover {
  display: flex;
}

.user-menu {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  right: 60px;
  top: 55px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.192);
  display: none;
  flex-flow: column wrap;
  min-width: 200px;
  row-gap: 8px;
}

.user-menu a.kelas,
.user-menu a.class-list,
.user-menu a.logout {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0.4em;
  transition: background-color 0.2s;
}

.user-menu a.kelas span,
.user-menu a.class-list span,
.user-menu a.logout span {
  font-size: 20px;
  color: rgb(51, 51, 51);
}

.user-menu a.kelas:hover,
.user-menu a.class-list:hover,
.user-menu a.logout:hover {
  background-color: aliceblue;
}

.menu-mobile {
  display: none;
}

/*end navbar styling*/

/* styling banner */
.carousel {
  z-index: 0;
  margin-top: 70px;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #fff;
  height: 2.8em;
  width: 2.8em;
  margin: auto;
  padding: 0.4em;
  border-radius: 50px;
}

.carousel-control-prev {
  margin-left: 20px;
}

.carousel-control-next {
  margin-right: 20px;
}

.carousel-control-prev span,
.carousel-control-next span {
  font-size: 2em;
  color: #000;
}
/* end styling banner */

/* kelas favorite */

.kelas-list {
  padding: 50px;
}

.headline {
  width: 40%;
}

.headline h3 {
  line-height: 37px;
  margin-top: 10px;
  font-weight: 500;
}

.kelas-card-container {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
  margin-top: 25px;
}

.kelas-card {
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  width: 24.3%;
  padding: 10px;
  margin-bottom: 18px;
}

.kelas-card:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.19);
}

.kelas-card img {
  width: 100%;
  height: 160px;
  border-radius: 5px;
  object-fit: cover;
}

.kelas-headline {
  margin-top: 13px;
  row-gap: 5px;
}

.kelas-headline a.judul {
  font-weight: 500;
  font-size: 16px;
}

.level {
  background-color: rgb(179, 244, 255);
  width: fit-content;
  padding: 0.2em 0.7em;
  border-radius: 50px;
  font-size: 13px;
}

.harga {
  margin-top: 10px;
  font-weight: 500;
}

.kelas-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0px 8px;
}

.kelas-footer .enroll,
.kelas-footer .rating {
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.kelas-footer .rating span {
  color: gold;
}

/* end kelas favorit */

/* gotrain value */

/* end gotrain value */

/* gotrain value */

.gotrain-value {
  padding: 50px;
  background-color: rgb(247, 253, 255);
}

.sisi-kiri {
  display: flex;
  align-items: center;
  width: 45%;
  padding-right: 70px;
}

.sisi-kiri span.label {
  background-color: rgb(255, 252, 93);
  width: fit-content;
  border-radius: 50px;
  padding: 0.5em;
  font-size: 0.9em;
}

.sisi-kiri h2 {
  margin-top: 16px;
  line-height: 45px;
}

.text-content h3 {
  font-size: 1.4em;
  margin-top: 12px;
}

.sisi-kanan {
  margin-top: 20px;
}

.col-atas,
.col-bawah {
  column-gap: 10px;
  -moz-column-gap: 10px;
  display: flex;
}

.nilai-card {
  background-color: #fff;
  padding: 20px 90px 10px 20px;
  border-radius: 8px;
  width: 50%;
  margin-bottom: 10px;
}

.nilai-card {
  background-color: #fff;
  padding: 20px 90px 10px 20px;
  border-radius: 8px;
  width: 50%;
  margin-bottom: 10px;
}

.nilai-card .icon-represent span {
  font-size: 40px;
  color: rgb(61, 61, 255);
}

/* end gotrain value */

/* responsive */

@media screen and (max-width: 1000px) {
  /* navbar styling */
  .navbar-link,
  .search-bar,
  .dashboard {
    display: none;
  }

  .navbar {
    padding: 10px;
  }

  .menu-mobile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }

  .menu-mobile-button span {
    font-size: 24px;
  }

  .menu-mobile {
    display: none;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(29, 29, 29, 0.089);
    flex-flow: column wrap;
    position: fixed;
    right: 0;
    left: 0;
    top: 75px;
    z-index: 99;
  }

  .menu-mobile a {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 12px;
    border-bottom: 1px solid rgb(228, 228, 228);
  }

  .menu-mobile a:hover {
    background-color: rgb(247, 247, 247);
  }

  .menu-mobile a span {
    font-weight: 400;
    font-size: 18px;
    color: rgb(70, 70, 70);
  }

  .user-profil:hover ~ .user-menu {
    display: none;
  }
  /* end navbar styling */

  /* banner styling */

  /* end banner styling */

  /* kelas list  */

  .kelas-list {
    padding: 25px 19px;
  }

  .headline {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    margin-top: 15px;
    width: 80%;
  }

  .headline h3 {
    line-height: 32px;
    margin-top: 0px;
  }

  .kelas-card-container {
    margin-top: 20px;
    display: block;
  }

  .kelas-card {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.18);
    width: 100%;
    border-radius: 3px;
    margin-bottom: 13px;
    margin-top: 0px;
    padding: 0px;
  }

  .kelas-header {
    height: 50%;
    width: 100%;
  }

  .kelas-header img {
    width: 35%;
    height: initial;
    border-radius: 3px 3px 5px 0px;
    object-fit: cover;
  }

  .kelas-headline {
    padding: 9px;
    row-gap: 8px;
    margin-top: 0px;
  }

  .kelas-headline .judul {
    font-weight: 500;
  }

  .level {
    background-color: rgb(179, 244, 255);
    width: fit-content;
    padding: 0.2em 0.7em;
    border-radius: 50px;
    font-size: 13px;
  }

  .harga {
    margin-top: 6px;
    font-weight: 500;
  }

  .kelas-footer {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  .kelas-footer .enroll,
  .kelas-footer .rating {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  .kelas-footer .enroll span {
    color: rgb(51, 51, 51);
  }

  .kelas-footer .rating span {
    color: gold;
  }

  /* end kelas list */

  /* gotrain value */

  .gotrain-value {
    margin-top: 10px;
    padding: 40px 20px 20px 20px;
    display: block;
  }

  .sisi-kiri {
    width: 100%;
  }

  .sisi-kiri h2 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 39px;
  }

  .col-atas,
  .col-bawah {
    flex-wrap: wrap;
  }

  .text-content h3 {
    font-size: 1.4em;
    margin-top: 0px;
  }

  .sisi-kiri span.label {
    background-color: rgb(255, 252, 93);
    width: fit-content;
    border-radius: 50px;
    padding: 0.5em;
    font-size: 0.9em;
  }

  .sisi-kanan {
    margin-top: 30px;
  }

  .nilai-card {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    display: flex;
    column-gap: 15px;
    margin-bottom: 10px;
  }

  .nilai-card .icon-represent span {
    font-size: 30px;
    color: rgb(61, 61, 255);
    margin-bottom: 20px;
  }

  .nilai-card .text-content p {
    font-size: 0.9em;
    margin-bottom: 0px;
    font-weight: 400;
  }

  /* end gotrain value */
}
